## --- Compilación y salida ---
[Bb]in/
[Ob]j/
bin/
obj/
out/
*.sln.docstates
*.slnx
Migrations/


## --- JetBrains (Rider) ---
.idea/
*.sln.iml
.agents
.claude
.junie

## --- Visual Studio ---
.vs/
*.suo
*.user
*.useros
*.userprefs
*.dbmdl
*.jfm

## --- VS Code ---
.vscode/

## --- NuGet ---
node_modules/
packages/
*.nuget.cache
project.lock.json
project.fragment.lock.json
*.nupkg

## --- Pruebas y Cobertura ---
TestResults/
*.sequenced
*.coverage
*.opencoverxml
*.cobertura.xml
coverage/
coverlet/

## --- Benchmarks ---
BenchmarkDotNet.Artifacts/

## --- EF Core ---
*.efbundle

## --- Configuración Local y Secretos ---
.env
.env.*
appsettings.Development.json
appsettings.*.local.json
usersecrets.json
secrets.json
*.awscredentials
credentials.json

## --- Certificados y claves ---
*.pfx
*.pem
*.key
*.crt

## --- Base de datos local ---
*.mdf
*.ldf
*.ndf
*.bak
App_Data/

## --- Publicación ---
*.pubxml
*.pubxml.user
publish/

## --- Sistema y Temporales ---
.DS_Store
Thumbs.db
*.swp
*.tmp
*.log
/skills-lock.json
